@import '@/styles/colors';

.itemContainer {
    background: $gray-color-100;
    width: 100%;

    padding: 1rem;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 0.6rem;


    header {
        display: flex;
        align-items: center;
        gap: 1rem;

        .username {
            margin-right: auto;
        }
    }

    main {
        p {
            font-size: 0.875rem;
        }
    }
}

.skeleton {
    border-radius: 20px !important;
}